
<footer class="footer text-center py-4">
    <small class="copyright">
        تولید شده توسط  &copy; <a href="~/assets/images/photo_2021-10-07_13-48-36.jpg" target="_blank">
    INVISIBLE

</a>
    </small>
</footer>